.month-part-elem {
  margin-top: 0;
  margin-bottom: 0;
}

.month-year {
  color: #009991;
  font-size: 3rem;
  font-weight: bold;
}

.calendar-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 80px;
}

.arrow-img {
  position: absolute;
  cursor: pointer;
  align-self: center;
  object-fit: cover;
  height: 80px;
}

.ar {
  left: 90%;
  top: 30%
}

.al {
  right: 90%;
  top: 30%
}
